name: checking salck notification

on:
 push:
  branches: ['main']

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: check out
      uses: actions/checkout@v4
      with:
       path: .

    - name: build
      run: |
       exit 1

  success:
    needs: [test]
    if: ${{ success() }}
    runs-on: ubuntu-latest
    steps:
      - name: Notify Slack on Success
        if: ${{ success() }}
        uses: slackapi/slack-github-action@v1.24.0
        with:
          payload: |
            {
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "api-server",
                    "emoji": true
                  }
                },
                {
                  "type": "actions",
                  "elements": [
                    {
                      "type": "button",
                      "text": {
                        "type": "plain_text",
                        "text": "View Job",
                        "emoji": true
                      },
                      "url": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                    }
                  ]
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK

  failure:
    needs: [test]
    if: ${{ failure() }}
    runs-on: ubuntu-latest
    steps:
      - name: Notify Slack on Failure
        uses: slackapi/slack-github-action@v1.24.0
        with:
          payload: |
            {
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "api-server",
                    "emoji": true
                  }
                },
                {
                  "type": "actions",
                  "elements": [
                    {
                      "type": "button",
                      "text": {
                        "type": "plain_text",
                        "text": "View Job",
                        "emoji": true
                      },
                      "url": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                    }
                  ]
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK

  # slack_notification:
    # uses: NavabShariff/shared-library/.github/workflows/slack.yml@main
    # needs: [test]
    # if: always()
    # with:
    #   commit_author_name: ${{ github.event.pusher.name }}
    #   commit_message: ${{ github.event.head_commit.message }}
    #   commit_id: ${{ github.sha }}
    #   run_id: ${{ github.run_id }}
    # secrets:
    #   SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}